@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Genos:wght@300&family=Monda&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,800;1,100;1,200&family=Sen&family=Tajawal:wght@500&display=swap');

:root {
    --red: #D01C28;
    --grey: #2e2e2e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 72px;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 24px;
}

nav ul li a {
    text-decoration: none;
    color: #2E2E2E;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: 0.3s;
}

nav ul li a:hover {
    color: var(--red);
}


button {
    all: unset;
    padding: 0px 16px;
    background: var(--red);
    height: 32px;
    color: #fff;
    font-weight: 500;
    font-family: Poppins;
    border-radius: 20px;
    transition: 0.3s;
}

button:hover {
    background-color: var(--grey);
}

/* Hero section start here */

.hero {
    display: flex;
    align-items: center;
    height: calc(100vh - 72px);
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.hero h1 {
    font-family: Poppins;
    font-weight: 800;
    font-size: 108px;
    line-height: 102px;
}

.hero p {
    font-weight: 400;
    color: var(--grey);
}

.hero .btn {
    display: flex;
    gap: 30px;
}

.hero .btn-sec {
    background: transparent;
    color: var(--grey);
    border: 1px solid var(--grey);
}

.hero .btn-sec:hover {
    color: #fff;
    background-color: var(--red);
}

.shop p {
    font-size: 14px;
    margin-bottom: 8px;
}

.brand-icon {
    display: flex;
    gap: 15px;
}